*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 1200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: auto;
    padding: 10px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
margin: 30px;
}

nav ul li{
text-decoration: none;
}

header{
    width: 1100px;
    max-width: 100%;
    margin: 5% auto;
}

header h1{
    color: #d05270;
    font-size: 35px; 
    text-transform: uppercase;
    margin-bottom: 7%;

}
header p{
    width: 500px;
    margin-top: 3%;
    font-size: 18px;
    margin-bottom:  7%;
}
header a{  
    text-decoration: none;
    padding: 15px 25px;
    background-color: #d05270;
    color: blanchedalmond;
    text-transform: uppercase;
}
header img{
    width: 450px;
    float: right;
}



























    